@theme {
  --font-sans: "ABCMonumentGrotesk";
  --font-mono: "ABCMonumentGroteskMono";
  --font-semi-mono: "ABCMonumentGroteskSemiMono";
  --font-serif: "ABCMarist";

  /* Line heights */
  --leading-ens-none: 96%;
  --leading-ens-tight: 112%;
  --leading-ens-normal: 120%;

  /* Experimental new brand colors */
  --color-ens-lapis-dust: #cee1e8;
  --color-ens-lapis-surface: #79b1d0;
  --color-ens-lapis-core: #0080bc;
  --color-ens-lapis-dense: #093c52;

  --color-ens-bronzite-dust: #f8f6d6;
  --color-ens-bronzite-surface: #ae9582;
  --color-ens-bronzite-core: #674d49;
  --color-ens-bronzite-dense: #431c11;

  --color-ens-peridot-dust: #c5ddcc;
  --color-ens-peridot-surface: #74ac76;
  --color-ens-peridot-core: #007c23;
  --color-ens-peridot-dense: #033010;
  --color-ens-peridot-border: oklch(0.926 0.084 155.9);
  --color-ens-peridot-bg: oklch(0.954 0.027 160.9);
  --color-ens-peridot-text-dark: oklch(0.447 0.119 151.4);
  --color-ens-peridot-text-medium: oklch(0.53 0.149 149);

  --color-ens-garnet-dust: #f2c4da;
  --color-ens-garnet-surface: #f886b6;
  --color-ens-garnet-core: #f53293;
  --color-ens-garnet-dense: #8a0a49;

  /* Old brand colors */
  --color-ens-blue: #0080bc;
  --color-ens-blue-hover: #0070a4;
  --color-ens-blue-light: #cee1e8;
  --color-ens-blue-light-hover: #d8e7ed;
  --color-ens-blue-midnight: #093c52;
  --color-ens-blue-dark: #011a25;
  --color-ens-magenta: #f53293;
  --color-ens-magenta-light: #f2c4da;
  --color-ens-green: #007c23;
  --color-ens-green-light: #c5ddcc;
  --color-ens-yellow: #fff72f;
  --color-ens-yellow-light: #f8f6d6;
  --color-ens-orange: #f47600;
  --color-ens-orange-light: #ffe2b4;
  --color-ens-brown-dark: #674d49;
  --color-ens-gray: #4a5c63;
  --color-ens-gray-two: #e5e5e5;
  --color-ens-gray-three: #c4c7c8;
  --color-ens-white: #f6f6f6;

  /* Temp names to be given official names once the design system is finalized */
  --text-temp-64px: 4rem; /* TEMP NAME - Designs commonly use 64px for h1's but no official name has been given */
  --text-temp-64px--line-height: 78%;
  --text-temp-32px: 2rem;
  --text-temp-32px--line-height: 110%;

  --breakpoint-xs: 30rem;
}

/* ===============================
 * Shadcn Theme
 * ===============================
 */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

